SENSOR_CONFIG_FILENAME="sensor_config.json"
DISPLAY_W1_SENSOR_NAME="rpi-env"
SAMPLE_PERIOD=5
RECONNECT_INTERVAL=10
URL="http://localhost:8086"
TOKEN="your-token-here"
ORG="your-org"
BUCKET="your-bucket"